@page "/input-radio"
@using System.ComponentModel.DataAnnotations

<h1>InputRadio component</h1>

<p>Tómese un momento para decirnos lo que piensa sobre Blazor.</p>

<EditForm Model="survey" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <p>Nombre: <InputText @bind-Value="survey.Name" autocomplete="off"/></p>
    <p>
        Tu opinión sobre Blazor:
        <InputRadioGroup @bind-Value="survey.OpinionAboutBlazor">
            @foreach (var opinion in opinions)
            {
                <div class="form-check">
                    <InputRadio class="form-check-input" id="@opinion.id" Value="@opinion.id" />
                    <label class="form-check-label" for="@opinion.id">@opinion.label</label>
                </div>
            }
        </InputRadioGroup>
    </p>
    <ValidationSummary />
    <button type="submit" class="btn btn-primary">Enviar</button>
</EditForm>

<p>@message</p>

@code {
    BlazorSurvey survey = new BlazorSurvey();
    string message;
    (string id, string label)[] opinions = new[]
    {
        ("Terrible", "Terrible, prefiero JS Vainilla."),
        ("ok", "Esta bien, supongo..."),
        ("Asombroso", "Es lo mejor que hay!!!")
    };

    void HandleSubmit()
    {
        message = $"Gracias {survey.Name} por probar Blazor!";
    }

    public class BlazorSurvey
    {
        [Required(ErrorMessage = "Ingrese su nombre.")]
        public string Name { get; set; }

        [Required(ErrorMessage = "Dinos que opinas!")]
        [RegularExpression("Asombroso", ErrorMessage = "...estas seguro?")]
        public string OpinionAboutBlazor { get; set; }
    }
}
